*{ 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
    overflow: hidden;
  }
   
body {
    background-color: #1C1C1C;
}

  /* remove a linha dos links */
  a{
    text-decoration: none;
  }

  /* ACMEFILMES */
header h1 {
    color: white;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-size: 128px;
    margin-top: 5%;
}

  /* CAIXA CADASTRO */
  .content{
    width: 500px;
    min-height: 560px; 
    margin: 0px auto;
    position: relative; 
    margin-top: -20px;  
  }

  /* CADASTRO */
  h1{
    font-size: 48px;
    color: #BE1313;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }

  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(211, 75, 66, 0.8) 20%,rgb(180, 15, 15) 53%,rgba(148, 63, 63, 0.8) 79%,rgba(147,184,189,0) 100%); 
  }

  p{
    margin-bottom:20px;
  }

  label{
    color: #604040;
    position: relative;
  }

  /* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }

  /* CAIXA DE TEXTO */
  input {
    outline: none;
  }
   
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
  }
   
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%;
    cursor: pointer;  
    background: rgb(179, 61, 61);
    color: #fff;
    font-size: 20px;  
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
  }

  /*estilo do botão submit no hover */
  input[type="submit"]:hover{
    background: #bd0c0c;
  }
  
  /* JA TEM CONTA? */
  .link{
    position: absolute;
    background: #696969;
    color: #ffffff;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
  }
   
  /* IR PARA LOGIN */
  .link a {
    font-weight: bold;
    background: #d85656;
    padding: 6px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    border: 1px solid #a18d8d;
    -webkit-border-radius: 4px;
    border-radius: 4px;  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
  .link a:hover {
    color: #ffffff;
    background: #da2a2a;
    border: 1px solid #df1c1c;
  }
  
  #cadastro, 
  #login{
    position: absolute;
    top: 30px;
    width: 88%;   
    padding: 18px 6% 60px 6%;
    background: #f7f1f1;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  }
  
  /* Efeito ao clicar no botão ( Ir para Login ) */
  #paracadastro:target ~ .content #cadastro,
  #paralogin:target ~ .content #login{
     z-index: 2; 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;
  }
   
  /* Efeito ao clicar no botão ( Cadastre-se ) */
  #registro:target ~ .content #login,
  #paralogin:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }
   
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }