* {
    overflow: hidden;
}

body {
    background-image: url(./img/tela_entrar\ 1.png);
    background-repeat: no-repeat;
    background-color: #1C1C1C;
}

/* ACMEFILMES TÍTULO */
.titulo h1 {
    color: white;
    opacity: 90%;
    text-align: center;
    margin-top: 120px;
    font-size: 135px;
    font-family: "Jomhuria", serif;
    font-weight: 400;
}


.fundo-escuro {
    margin-left: 700px;
    width: 500px;
    height: 700px;
    background-color: rgb(42, 12, 12);
}
/* SEJA BEM VINDO */
.fundo-escuro h1{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
}


/* CAIXA EMAIL */
.caixa1 {
    height: 35px;
    display: flex;
    margin-left: 830px;
    margin-top: -430px;
}
/* CAIXA SENHA */
.caixa2 {
    margin-left: 830px;
    height: 35px;
    display: flex;
    margin-top: 20px;
}


.botao-entrar {
    width: 200px;
    height: 40px;
    background-color: #881717;
    margin-top: 50px;
    margin-left: 860px;
    border: none;
    cursor: pointer;
    border-radius:30px;
}
/* ESQUECEU SUA SENHA? */
.esqueceu {
    background-color: rgb(26, 23, 23);
    color: white;
    margin-left: 900px;
    margin-top: 0px;
    font-family: "Jaldi", sans-serif;
    border: none;
    cursor: pointer;
}


/* NOVO POR AQUI? */
.novo p {
    color: white;
    font-family:  "Jaldi", sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
/* ASSINE AQUI */
.assine {
    background-color: rgb(26, 23, 23);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 905px;
    font-size: 20;
    margin-left: 900px;
    margin-top: -10px;
}