* {
    overflow: hidden;
}

body{
    background-color: #1C1C1C;
}

/* 
BARRA DE PESQUISA */
#divBusca{
    background-color:#333333;
    border:solid 5px #333333;
    border-radius:50px;
    width:300px;
    height:32px;
    margin-left: 790px;
    margin-top: 5%;
  }
  #txtBusca{
    background-color:transparent;
    color: white;
    font-size:18px;
    border:none;
    height:32px;
    width:290px;
  }


/* TÍTULO */
  h1 {
    color: white;
    opacity: 90%;
    text-align: center;
    margin-top: 3%;
    font-size: 120px;
    font-family: "Jomhuria", serif;
    font-weight: 400;
  }

  .ola {
    font-family: "Jaldi", sans-serif;
    font-size: 20px;
    color: white;
    margin-top: -120px;
    margin-left: 5%;
  }

  /* FILMES, SÉRIES, GENEROS E CARRINHO */
  .categorias p {
    font-family: "Jaldi", sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 70%;
    margin-top: -30px;
  }


  .fundo-vermelho {
    background-color: #881717;
    opacity: 50%;
    margin-left: 5%;
    width: 1690px;
    height: 300px;
  }
  .favoritos {
    font-family: "Jaldi", sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 5%;
  }
  
  /* #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#333333;
  } */
  
  /* #divBusca img{
    float:left;
  } */